/dts-v1/;
/ {
	compatible = "eco32_generic";
	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		bootargs = "keep_bootcon=1";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x02000000>;
	};

};