# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.

menu "Kernel hacking"

source "lib/Kconfig.debug"

config EARLY_PRINTK
	bool "Early printk function for kernel"
	default n
	help
	  This option turns on/off early printk messages to console.

endmenu
